<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.theMoon.moon.vo.Member" alias="member" />
		<typeAlias type="com.theMoon.moon.vo.Community" alias="community" />
		<typeAlias type="com.theMoon.moon.vo.Reply" alias="reply" />
	</typeAliases>
	<mappers>
		<mapper resource="mapper/memberMapper.xml" />
		<mapper resource="mapper/communityMapper.xml" />
		<mapper resource="mapper/replyMapper.xml" />
	</mappers>
</configuration>
