<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.theMoon.moon.dao.MemberMapper">
<!-- Create an Account -->
<insert id="registerMember" parameterType="member">
insert into
	member(
			member_num
			,firstName
			,lastName
			,email
			,pw 
	)
values
	(member_num_seq.nextval, #{firstName}, #{lastName}, #{email}, #{pw})
</insert>


<!-- Login -->
<select id="login" parameterType="string" resultType="member">
select
	firstName
	,lastName
	,email
	,pw
from
	member
where
	email = #{email}
</select>

<!-- forgot Password -->
<select id="findUserByEmail" parameterType="String" resultType="integer">
select
	count(email)
from
	member
where
	email = #{email}
</select>

<!-- password Update -->
<update id="updatePassword" parameterType="member">
update
	member
set
	pw = #{pw}
where
	email = #{email}
</update>
</mapper>
